
body{
	background-color: #69a7e1;
}
.sprite{
	text-align: center;
	width: 70%;
	height: auto;
}
.spriteImage{
	width: 50%;
	height: auto;
}

table{
	width: 90%;
	margin-left: 5%;
}
td{
	padding-bottom: 2.5%;
	padding-top: 2.5%;

}
#spriteTable tr{
	border-bottom: 1px #49739b solid;
}

.developers td{
	text-align: center;
	font-size: 130%;
}
.developers td a{
	color: #49739b;
}

#spriteTable tr:hover{
	background-color: #49739b;
}

.sprite{
	padding-left: 7.5%;
}